<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="N_Automation"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
    <listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
        <listEntry value="com.glams.qa.testcases.GLAMSComponentTrackerPageTest"/>
        <listEntry value="com.glams.ExtentReportListener.ExtentReporterNG"/>
        <listEntry value="com.glams.qa.pages.LoginPage"/>
        <listEntry value="com.glams.qa.testcases.DashboardPageTest"/>
        <listEntry value="com.glams.qa.pages.GLAMSComponentRequestPage"/>
        <listEntry value="com.glams.qa.testcases.LoginPageTest"/>
        <listEntry value="com.glams.qa.testcases.SampleTestcase"/>
        <listEntry value="com.glams.qa.testcases.GLAMSComponentRequestPageTest"/>
        <listEntry value="com.glams.qa.util.TestUtil"/>
        <listEntry value="com.glams.qa.util.randomVariables"/>
        <listEntry value="com.glams.qa.base.TestBase"/>
        <listEntry value="com.glams.qa.pages.DashboardPage"/>
        <listEntry value="com.glams.qa.pages.GLAMSComponentTrackerPage"/>
        <listEntry value="com.glams.qa.pages.GLAMSComponentRepositoryPage"/>
    </listAttribute>
    <listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
    <listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
    <stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
    <intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
