<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GLAMS Test Suite" parallel="none">

    <test name="GLAMS WorkFlow">
        <classes>
            <class name="com.glams.qa.testcases.GLAMSComponentRequestPageTest"/>
            <class name="com.glams.qa.testcases.GLAMSArtworkPageTest"/>
            <class name="com.glams.qa.testcases.GLAMSFinalApprovalPageTest"/>
        </classes>
    </test>

</suite>
